a {
    color: inherit;
    text-decoration: none;
}

a i {
    color: blue;
}

main {
    margin: 2rem;
}

nav {
    margin: 2rem;
}

header {
    margin: 2rem;
}

form {
    margin-top: 15px;
    display: flex;
    flex-wrap: nowrap;
}

form > i:first-child {
    background-color: #ececec;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 15px;
}

form > input, form i:first-child {
    border: #ececec solid 1px;
    padding: 13px;
    outline: none;
}

form > input, form i:first-child {
    border: #ececec solid 1px;
    padding: 13px;
    outline: none;
}

form input:nth-child(3) {
    background-color: #0065fc;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 700;
    border: none;
}

form i:last-child {
    display: none;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

nav ul {
    float: right;
    list-style-type: none;
}

nav li {
    float: right;
    transition: border-top 300ms;
}

nav li:hover {
    border-top: 2px solid blue;
}

.sign-up-button {
    margin-left: 20px;
    margin-right: 20px;
    color: #1e90ff;
    font-weight: bold;
}

.activities-button {
    margin-left: 20px;
    margin-right: 20px;
}

.accommodations-button {
    margin-right: 20px;
    color: #1e90ff;
    font-weight: bold;
}

.sign-up-button {grid-area: item1;}
.activities-button {grid-area: item2;}
.accommodations-button {grid-area: item3;}

@media screen and (max-width: 768px) {
    .grid-container-nav {
        display: grid;
        grid-template-areas: 
        '. . . item1'
        'item2 item2 item3 item3';
    }
}

.filter-title {
    float: left;
}

.filter-bar {
    margin: 30px 0px;
}

.filter-bar i {
    padding: 16px;
    border-radius: 50%;
    display: inline-block;
    background-color: #deebff;
    color: #0065fc;
}

.filter-button {
    background-color: white;
    box-shadow: 0 0 3px rgb(141, 139, 139);
    border-radius: 25px;
    width: 200px;
    height: 49px;
    margin: 5px;
    display: inline-flex;
    justify-content: left;
    align-items: center;
}

.filter-button:active {
    transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.filter-button:hover {
    transition: all 1s ease;
    transform: scale(1.25) perspective(1px)
}

.filter-button i {
    
}

.fa-cash-bill {
    
}

.fa-heart {
    
}

.fa-child {
    
}

.fa-dog {
    
}

.filter-text {
    float: right;
    text-align: left;
}

.info i {
    background-color: white;
    color: #0065fc;
    border: #deebff solid 2px;
    border-radius: 50%;
    padding: 5px 10px;
}

.wrapping {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

.accommodations {
    background-color: #ececec;
    border-radius: 25px;
    width: 60%;
    height: 760px;
}

.cards {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin-left: 8%;
}

.card {
    height: 250px;
    line-height: 5px;
    background-color: white;
    border-radius: 25px;
    padding: 1% 1% 1% 1%;
    margin: 6% 6% 6% 6%;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
    .accommodations {
        height: fit-content;
        order: 4;
        width: 100%;
    }

    .card {
        line-height: 10px;
        font-size: 14px;
    }
}

.card:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.card img {
    height: 125px;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}

.card-accommodations {
    margin-left: 2%;
    text-align: left;
}

.rating {
    height: 25px;
    bottom: 10px;
    left: 10px
}

.most-popular {
    background-color: #ececec;
    border-radius: 25px;
    width: 30%;
    height: 760px;
}

.most-popular i {
    float: right;
    font-size: x-large;
}

.section-title {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding-left: 3%;
    padding-top: 3%;
}

.cards-aside-section {
    display: grid;
    grid-template-rows: 30% 30% 30%;
}

.card-aside {
    background-color: white;
    text
    line-height: 5px;
    border-radius: 25px;
    padding: 1% 1% 1% 1%;
    margin: 4% 4% 4% 11%;
    height: 150px;
    width: 75%;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
    .most-popular {
        order: 3;
        width: 100%;
        border-radius: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .card-aside {
        line-height: 10px;
        font-size: 14px;
    }
}

.card-aside:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.card-aside img {
    width: 30%;
    height: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    object-fit: cover;
}

.cards-aside {
    text-align: left;
}

.cards-aside i {
    float: left;
}

.star-checked {
    color: blue;
}

.star-empty {
    color: #ececec;
}

.activities {
    background-color: white;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'Tall Short1'
    'Tall Short2';
  grid-gap: 10px;
  background-color: white;
  padding: 10px;
  margin: 0px;
  max-height: 600px;
}

.card-activity.gi1 { grid-area: Tall; }
.card-activity.gi2 { grid-area: Short1; }
.card-activity.gi3 { grid-area: Short2; }



.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 0px;
  font-size: 10px;
  min-height: 300px;
  height: 100%;
}

.cards-activities {
    display: flex;
}

.card-activity {
    border-radius: 25px;
    width: 80%;
    height: 60%;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.5s ease-in-out;
}

.card-activity h4 {
    float: left;
    padding: 0px 10px 10px 10px;
    font-size: 15px;
}

.card-activity:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.card-activity.gi1 img {
    width: 100%;
    height: 90%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}

.card-activity.gi2 img {
    width: 100%;
    height: 80%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}
.card-activity.gi3 img {
    width: 100%;
    height: 80%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .grid-container {
        border: 5px dashed red;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 40px;
        order: 5;
    }

    .cards-activities {
        border: 5px dashed blue;
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        order: 5;
    }

    .card-activity{
        border-radius: 25px;
        width: 100%;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: box-shadow 0.5s ease-in-out;
    }
}

.cards-aside {
    float: right;
}

.info {
    margin-top: 1%;
    margin-bottom: 1%;
}

.more {
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
}

footer {
    background-color: #ececec;
}

.footer-content-1 { grid-area: About; }
.footer-content-2 { grid-area: OurAccommodations; }
.footer-content-3 { grid-area: Assistance; }

.footer-container {
  display: grid;
  grid-template-areas:
    'About OurAccommodations Assistance'
    'About OurAccommodations Assistance';
  grid-gap: 10px;
  background-color: #ececec;
  padding: 10px;
  margin-left: 40px;
}

.footer-container > div {
  background-color: #ececec;
  text-align: left;
  padding: 30px 0;
  font-size: 18px;
}